<!DOCTYPE html>
<html>

<head>

<body>

    {{{body}}}

    <form>
        <div class="form-group">
            <label for="textBox"></label>
            <input type="text" class="form-control" id="textBox" aria-describedby="textBox">
        </div> <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</body>
<meta charset="utf-8" />
<title>Eat-Da-Burger!</title>
</head>

</html>