{{!-- <div id="t" style="display: none"> --}}
    <img class="burger" src="{{burger.png}}">
{{!-- </div> --}}

<h1>Eat-Da-Burger!</h1>

 <form>
        <div class="form-group">
            <label for="textBox"></label>
            <input type="text" class="form-control" id="textBox" aria-describedby="textBox">
        </div> <button type="submit" class="btn btn-primary">Submit</button>
    </form>